$orange: #ff6b00;
$white: #ffffff;
$green: #a7c93d;
$shade: #e8edc9;
$yellowStart: #ffbe02;
$yellowEnd: #ffcc02;
$yellowHover: #ffcf11;
$yellowActive: #f7c80f;
$grey: #444444;
$inputBg: #eef2f7;
$lightOrange: #f4d3bb;
